body {
    background-color: lightblue;
    text-align: center;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
}

button:active {
    background-color: orange;
}